body{
  background:#0f172a;
  font-family:Arial;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.chat-container{
  width:400px;
  background:#1e293b;
  border-radius:15px;
  padding:20px;
}

#chat-box{
  height:400px;
  overflow-y:auto;
  margin-bottom:15px;
}

.user{
  background:#2563eb;
  padding:10px;
  border-radius:10px;
  margin:10px 0;
}

.bot{
  background:#334155;
  padding:10px;
  border-radius:10px;
  margin:10px 0;
}

.input-area{
  display:flex;
}

input{
  flex:1;
  padding:10px;
  border:none;
  border-radius:10px;
}

button{
  padding:10px;
  margin-left:10px;
  border:none;
  border-radius:10px;
  background:#3b82f6;
  color:white;
}